<form>
  <div class="form-row">
    <div class="col-10">
        <input type="text" class="form-control" placeholder="category here...">
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-block btn-success">Add</button>
    </div>
  </div>
</form>
<hr>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories; let i=index">
            <td>{{i+1}}</td>
            <td>{{category.name}}</td>
            <td>
                <button class="btn btn-success" (click)="editDiscount(dis)">Edit</button>
            </td>
            <td>
                <button [disabled]="editStatus" class="btn btn-danger" (click)="deleteDiscount(dis)">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>