.details{
    width: 1200px;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 20px;

    justify-content: space-around;
}

img{
    width:700px;
    height: 500px;

}
.body{
    width:800px;
    height: 400px;
    display:flex;
justify-content: space-around;
flex-direction: column;
    padding:50px;
}
.container{
    background-color: rgb(255, 255, 255);
    display: flex;

width: 1200px;
height: 500px;

}
.desc{
    width: 300px; 
}
.btn{
    width: 100px;
}
