.container{
    width: 1500px;
    display: flex;
  margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    margin: 10px;
    padding-top: 20px;
    width: 300px;
}
span{
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;
}