.nav-link{
    color: #414141;
}
.active{
    background-color: #141414!important;
    color: rgb(223, 223, 223)!important;
}
.container-fluid{
    background-color: #e6e8eb;
    padding-top: 50px;
    min-height: 600px;
}

